[SddmGreeterTheme]
Name=Breeze Avisblue
Description=Avisblue SDDM Theme
Author=ElGorrion
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/elgorrion/avisblue
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=01-breeze-avisblue
Theme-API=2.0
QtVersion=6
